/* Algemene styling in de grid-container en per grid-item */
.grid-container{
  display: grid;

  grid-template-rows: 1fr;

  grid-template-columns: 1fr 1fr 1fr;

  width: 95%;
  margin: 0 auto;

  grid-template-areas:
  "welkomTekst welkomTekst welkomTekst"
  "scooterModel scooterModel scooterOmschrijving"
  "rodeAutoModel rodeAutoModel rodeAutoModel"
  "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
  "groeneAutoModel groeneAutoModel groeneAutoOmschrijving"
  "donutOmschrijving donutModel donutModel"
  "macModel macModel macOmschrijving"
  "laptopModel laptopModel laptopModel"
  "laptopOmschrijving laptopOmschrijving laptopOmschrijving"
  "smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
  "smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
  "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
  "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
  "splineModellen splineModellen splineModellen"
  "footer footer footer"
}

                                              /* Styling van de grid-boxes (bij mobiele weergave) */
                                              .box1{
                                                grid-area: welkomTekst;
                                                background-color: #007bfd;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box2a{
                                                grid-area: scooterModel;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                                background: rgb(14,252,153);
                                                background: linear-gradient(90deg, rgba(14,252,153,1) 0%, rgba(0,123,253,1) 100%);
                                              }

                                              .box2b{
                                                grid-area: scooterOmschrijving;
                                                background-color: #007bfd;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;
                                                flex-flow: column;
                                              }

                                              .box3a{
                                                grid-area: rodeAutoModel;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                                background: rgb(251,182,55);
                                                background: linear-gradient(0deg, rgba(251,182,55,1) 0%, rgba(14,252,153,1) 100%);
                                              }

                                              .box3b{
                                                grid-area: rodeAutoOmschrijving;
                                                background-color: #FBB738;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box4a{
                                                grid-area: groeneAutoModel;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                                background: rgb(238,7,137);
                                                background: linear-gradient(90deg, rgba(238,7,137,1) 0%, rgba(251,182,55,1) 100%);
                                              }

                                              .box4b{
                                                grid-area: groeneAutoOmschrijving;
                                                background-color: #FBB637;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box5a{
                                                grid-area: donutOmschrijving;
                                                background-color: #FBB637;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                                flex-flow: column;
                                              }

                                              .box5b{
                                                grid-area: donutModel;
                                                background-color: #FBB637;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box6a{
                                                grid-area: macOmschrijving;
                                                background-color: #FF6F85;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;
                                                flex-flow: column;
                                              }

                                              .box6b{
                                                grid-area: macModel;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                                background: rgb(151,66,115);
                                                background: linear-gradient(90deg, rgba(151,66,115,1) 0%, rgba(254,111,132,1) 100%);
                                              }

                                              .box7a{
                                                grid-area: laptopModel;
                                                background-color: #D7D7D7;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box7b{
                                                grid-area: laptopOmschrijving;
                                                background-color: #D7D7D7;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box8a{
                                                grid-area: smartphonePlaneModel;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                                background: rgb(63,94,251);
                                                background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
                                              }

                                              .box8b{
                                                grid-area: smartphonePlaneOmschrijving;
                                                background-color: #405FFB;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box9a{
                                                grid-area: ipadSmartphoneModel;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                                background: rgb(133,84,253);
                                                background: linear-gradient(0deg, rgba(133,84,253,1) 0%, rgba(31,210,253,1) 100%);
                                              }

                                              .box9b{
                                                grid-area: ipadSmartphoneOmschrijving;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                                background-color: #8554fd;
                                              }

                                              .box9c{
                                                grid-area: splineModellen;
                                                border-radius: 20px;
                                                display: flex;
                                                justify-content: center;
                                                background-color: red;
                                              }

                                              .box10{
                                                grid-area: footer;
                                                background-color: #FF6F85;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                              }

    h1{
      font-size: 8vw;
    }

    h2{

    }

    p{
      font-size: 1em;
    }

    /* Margins om ruimtes tussen de onderstaande boxen te creëren */
    .box1, .box2a, .box2b, .box3b, .box4a, .box4b, .box5a, .box5b, .box6a, .box6b, .box7b, .box8b, .box9b, .box9c{
      margin-bottom: 20px;
    }

    .box2a, .box2b{
      height: 400px;
    }

    .box3a, .box9a{
      height: 450px;
    }

    .box3b,{
      height: 200px;
    }

    .box5b, .box7a, .box8a, .box9c{
       height: 350px;
     }

     /* Paddings om de tekst in de boxen mooi uit te lijnen */
     article{
       margin: 30px 20px 20px 30px;
     }


/* Kleine tablet staand */
@media only screen and (min-width: 599px) and (max-width: 767px){
	.grid-container{
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr;

    width: 80%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving"
    "donutOmschrijving donutModel donutModel"
    "macModel macModel macOmschrijving"
    "laptopModel laptopModel laptopModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving"
    "smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
    "smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "splineModellen splineModellen splineModellen"
    "footer footer footer"
	}

  /* Paddings om de tekst in de boxen mooi uit te lijnen */
  article{
    margin: 20px 30px 20px 30px;
  }

  h1{
    font-size: 6vw;
  }

  p{
    font-size: 1.1em;
  }

  .box3{
    height: 300px;
  }

  .box1, .box2a, .box2b, .box3b, .box4a, .box4b, .box5a, .box5b, .box6a, .box6b, .box7b, .box8b, .box9b{
    margin-bottom: 30px;
  }


}

/* Grote tablet staand */
@media only screen and (min-width: 768px) and (max-width: 949px){
	.grid-container{
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 80%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macOmschrijving macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "splineModellen splineModellen splineModellen splineModellen splineModellen splineModellen"
    "footer footer footer footer footer footer"
	}

  /* Margins om ruimtes tussen de onderstaande boxen te creëren */
  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  .box4a, .box4b, .box5a, .box5b{
    height: 450px;
  }

  /* Paddings om de tekst in de boxen mooi uit te lijnen */
  article{
    margin: 20px 30px 20px 30px;
  }

  h1{
    font-size: 4vw;
  }

  p{
    font-size: 1.1em;
  }


}


/* Tablet liggend */
@media only screen and (min-width: 950px) and (max-width: 1299px){
	.grid-container{
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 80%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macOmschrijving macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "splineModellen splineModellen splineModellen splineModellen splineModellen splineModellen"
    "footer footer footer footer footer footer"
	}

  /* Margins om ruimtes tussen de onderstaande boxen te creëren */
  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  .box4a, .box4b, .box5a, .box5b{
    height: 450px;
  }

  /* Paddings om de tekst in de boxen mooi uit te lijnen */
  article{
    margin: 20px 30px 20px 30px;
  }

  h1{
    font-size: 3.5vw;
  }

  p{
    font-size: 1.2em;
  }

}


/* Kleine esktop */
@media only screen and (min-width: 1300px) and (max-width: 1919px){
	.grid-container{
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 78%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macModel macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "splineModellen splineModellen splineModellen splineModellen splineModellen splineModellen"
    "footer footer footer footer footer footer"
	}

  /* Margins om ruimtes tussen de onderstaande boxen te creëren */
  .box2a, .box2b, .box6a, .box6b {
    height: 400px;
  }

  .box4a, .box4b, .box5a, .box5b{
    height: 450px;
  }

  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  .box1, .box2a, .box2b, .box3b, .box4a, .box4b, .box5a, .box5b, .box6a, .box6b, .box7b, .box8b, .box9b{
    margin-bottom: 40px;
  }

  /* Paddings om de tekst in de boxen mooi uit te lijnen */
  article{
    margin: 20px 30px 20px 30px;
  }

  h1{
    font-size: 3vw;
  }

  p{
    font-size: 1.2em;
  }

  .box3{
    height: 300px;
  }

}



/* Grote desktop*/
@media only screen and (min-width: 1920px){
  .grid-container{
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 70%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macModel macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "splineModellen splineModellen splineModellen splineModellen splineModellen splineModellen"
    "footer footer footer footer footer footer"
	}

  /* Margins om ruimtes tussen de onderstaande boxen te creëren */
  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  /* Paddings om de tekst in de boxen mooi uit te lijnen */
  article{
    margin: 20px 30px 20px 30px;
  }

  h1{
    font-size: 3vw;
  }

  p{
    font-size: 1.2em;
  }

  .box3{
    height: 300px;
  }


}
