/* Algemene styling in de grid-container en per grid-item */
.grid-container{
  padding-top: 20px;
  display: grid;

  grid-template-rows: 1fr;

  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
  "welkomTekst welkomTekst welkomTekst"
  "scooterModel scooterModel scooterOmschrijving"
  "rodeAutoModel rodeAutoModel rodeAutoModel"
  "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
  "groeneAutoModel groeneAutoModel groeneAutoOmschrijving"
  "donutOmschrijving donutModel donutModel"
  "macModel macModel macOmschrijving"
  "laptopModel laptopModel laptopModel"
  "laptopOmschrijving laptopOmschrijving laptopOmschrijving"
  "smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
  "smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
  "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
  "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
  "footer footer footer"
}

                                              /* Styling van de grid-boxes (bij mobiele weergave) */
                                              .box1{
                                                grid-area: welkomTekst;
                                                background-color: dodgerblue;
                                                border-radius: 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box2a{
                                                grid-area: scooterModel;
                                                background-color: violet;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box2b{
                                                grid-area: scooterOmschrijving;
                                                background-color: tomato;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;

                                              }

                                              .box3a{
                                                grid-area: rodeAutoModel;
                                                background-color: lime;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box3b{
                                                grid-area: rodeAutoOmschrijving;
                                                background-color: pink;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box4a{
                                                grid-area: groeneAutoModel;
                                                background-color: lime;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box4b{
                                                grid-area: groeneAutoOmschrijving;
                                                background-color: pink;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box5a{
                                                grid-area: donutOmschrijving;
                                                background-color: pink;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box5b{
                                                grid-area: donutModel;
                                                background-color: lime;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box6a{
                                                grid-area: macOmschrijving;
                                                background-color: pink;
                                                border-radius: 0px 20px 20px 0px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box6b{
                                                grid-area: macModel;
                                                background-color: lime;
                                                border-radius: 20px 0px 0px 20px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box7a{
                                                grid-area: laptopModel;
                                                background-color: lime;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box7b{
                                                grid-area: laptopOmschrijving;
                                                background-color: pink;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box8a{
                                                grid-area: smartphonePlaneModel;
                                                background-color: lime;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box8b{
                                                grid-area: smartphonePlaneOmschrijving;
                                                background-color: pink;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box9a{
                                                grid-area: ipadSmartphoneModel;
                                                background-color: lime;
                                                border-radius: 20px 20px 0px 0px;
                                                display: flex;
                                                justify-content: center;
                                                padding: 0;
                                                overflow: hidden;
                                              }

                                              .box9b{
                                                grid-area: ipadSmartphoneOmschrijving;
                                                background-color: pink;
                                                border-radius: 0px 0px 20px 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

                                              .box10{
                                                grid-area: footer;
                                                background-color: pink;
                                                border-radius: 20px;
                                                display: flex;
                                                justify-content: center;
                                              }

    h1{
      font-size: 5vw;
    }

    p{
      font-size: 1em;
    }

    .box1, .box2a, .box2b, .box3b, .box4a, .box4b, .box5a, .box5b, .box6a, .box6b, .box7b, .box8b, .box9b{
      margin-bottom: 20px;
    }

    .box2a, .box2b, .box3a, .box6a, .box9a{
      height: 400px;
    }

    .box3b,{
      height: 200px;
    }

    .box4a, .box5b, .box7a, .box8a{
       height: 300px;
     }






/* Kleine tablet staand */
@media only screen and (min-width: 599px) and (max-width: 767px){
	.grid-container{
    padding-top: 20px;
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr;

    width: 80%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving"
    "donutOmschrijving donutModel donutModel"
    "macModel macModel macOmschrijving"
    "laptopModel laptopModel laptopModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving"
    "smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
    "smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "footer footer footer"
	}

  h1{
    font-size: 3.5vw;
  }

  p{
    font-size: 1.2em;
  }

  .box3{
    height: 300px;
  }


}

/* Grote tablet staand */
@media only screen and (min-width: 768px) and (max-width: 949px){
	.grid-container{
    padding-top: 20px;
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 80%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macModel macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel smartphonePlaneModel smartphonePlaneModel smartphonePlaneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "footer footer footer footer footer footer"
	}

  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  h1{
    font-size: 3vw;
  }

  p{
    font-size: 1.2em;
  }

  /* .box3{
    height: 300px;
  } */


}


/* Tablet liggend */
@media only screen and (min-width: 950px) and (max-width: 1299px){
	.grid-container{
    padding-top: 20px;
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 80%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macModel macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "footer footer footer footer footer footer"
	}

  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  h1{
    font-size: 3vw;
  }

  p{
    font-size: 1.2em;
  }

}


/* Kleine esktop */
@media only screen and (min-width: 1300px) and (max-width: 1919px){
	.grid-container{
    padding-top: 20px;
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 78%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macModel macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "footer footer footer footer footer footer"
	}

  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  h1{
    font-size: 2vw;
  }

  p{
    font-size: 1.2em;
  }

  .box3{
    height: 300px;
  }

}



/* Grote desktop*/
@media only screen and (min-width: 1920px){
  .grid-container{
    padding-top: 20px;
    display: grid;

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 70%;
    margin: 0 auto;

    grid-template-areas:
    "welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst welkomTekst"
    "scooterModel scooterModel scooterModel scooterModel scooterOmschrijving scooterOmschrijving"
    "rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel rodeAutoModel"
    "rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving rodeAutoOmschrijving"
    "groeneAutoModel groeneAutoModel groeneAutoOmschrijving donutOmschrijving donutModel donutModel"
    "macModel macModel macModel macModel macOmschrijving macOmschrijving"
    "laptopModel laptopModel laptopModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "laptopOmschrijving laptopOmschrijving laptopOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving smartphonePlaneOmschrijving"
    "ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel ipadSmartphoneModel"
    "ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving ipadSmartphoneOmschrijving"
    "footer footer footer footer footer footer"
	}

  .box4b, .box7a, .box7b{
    margin-right: 10px;
  }

  .box5a, .box8a, .box8b{
    margin-left: 10px;
  }

  h1{
    font-size: 2vw;
  }

  p{
    font-size: 1.2em;
  }

  .box3{
    height: 300px;
  }


}
